<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Searcher
        link(rel="stylesheet", href="./css/styles.css" type="text/css")
    body
            div.fondo-opaco
                div.cont-boton
                    div.boton-salir: img(src="./images/X.png", alt="x")
                div.cont-detalles 
                        

            header.header
                div.titulo: h1#titulo WELCOME 
                div.buscador
                    input#buscador(type="text" placeholder="Search...")
                    a#buscar(href="#"): img(src="./images/lupa.png", alt="Lupa")
            div.container-movies
                div.peliculas
    script(src="./js/buscador.js" type="text/javascript")
